@charset "UTF-8";
a{
	text-decoration: none;
	
}
a, a:hover, a:active, a:focus {
    text-decoration: none;
}

ul li {
	list-style: none;
}
ul{
	margin: 0;
	padding: 0;
}
.header-ul{
	text-align: right;
}
.header-ul-li{
	display: inline;
	text-align:center;
	text-decoration: none;
	list-style: none;
	border-right: 1px solid black;
	padding-right: 0.5rem;
	padding-left: 0.5rem;
}
.logoImage{
	width: 300px;
	height:150px;
}
.logo{
	text-align: center;
}

.menubar {
	width:100%;
	background-color:#addcd9; 
	z-index: 999;
}
.menubar ul{
	padding: auto;
}
.menubar ul li{
	display:inline-block;
	list-style: none;
	position: relative;
	margin: 0;
	padding: 0;
}
.menubar ul li:hover{
	background-color: #f3f3f3;
}
.menubar ul li:hover ul{
	display: block;
}
.menubar ul li a{
	display: block;
	color: #222;
	fontsize:1rem;
	padding: 10px 14px;
	text-decoration: none;
	 
} 
.menubar ul li ul{
	display: none;
	position: absolute;
	background-color: #addcd9;	
	padding:0;
	border-radius: 0 0 4px 4px;
} 
.menubar ul li ul li a{
	padding: 8px 14px;
}
.menubar ul li ul li a:hover{
	background-color: #f3f3f3;
}

.menubar ul li ul li{
	width:150px;	
}
.contentIndex{
	text-align: center;
	height:150px;
	padding-top: 50px;
	font-weight: bold;
	font-size: 36px;
}
.content{
	width: 1200px;
	margin: 0 auto;
}
table{
	margin: 0 auto;
}
