<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 다른 mapper와 중복되지 않도록 네임스페이스 기재 -->
<mapper namespace="qnareply">
  <insert id="insertReply">
    insert into qnareply (rno,bno,replytext,replyer) values
		( qnareply_seq.nextval, #{bno}, #{replytext}, #{replyer} )
  </insert>
  
  <select id="listReply" 
  resultType="com.example.project.model.qnaboard.dto.QnaReplyDTO">
    select rno,bno,replyer,regdate,updatedate,username,replytext
		from qnareply r, member m
		where r.replyer=m.userid and bno=#{bno}
		order by rno
  </select>
	
</mapper>


